//
// "$Id: tinyTerm.rc 2882 2019-01-10 21:05:10 $"
//
// tinyTerm -- A minimal serail/telnet/ssh/sftp terminal emulator
//
// tinyTerm.rc is the resource file defining dialog, icon and menus.
//
// Copyright 2018-2019 by Yongchao Fan.
//
// This library is free software distributed under GNU LGPL 3.0,
// see the license at:
//
//     https://github.com/yongchaofan/tinyTerm/blob/master/LICENSE
//
// Please report all bugs and problems on the following page:
//
//     https://github.com/yongchaofan/tinyTerm/issues/new
//
#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDICON_TL1	ICON	"TL1.ico"

IDMENU_MAIN MENU
{
	POPUP "&Term"
	{
		MENUITEM "&Connect...", ID_CONNECT
		MENUITEM "&Disconnect", ID_DISCONN
		MENUITEM "Local &Echo",	ID_ECHO
		MENUITEM "&Logging...", ID_LOGGING
		MENUITEM SEPARATOR
		MENUITEM "&Ftpd...", 	ID_FTPD
		MENUITEM "&Tftpd...", 	ID_TFTPD
	}
	POPUP "&Script"
	{
		MENUITEM "&Run...", 	ID_SCRUN
		MENUITEM "&Pause", 		ID_SCPAUSE
		MENUITEM "&Stop", 		ID_SCQUIT
		MENUITEM SEPARATOR
	}
	POPUP "&Options"
	{
		MENUITEM "Local Editing\tAlt+E",ID_EDIT
		MENUITEM "&Tranparency",        ID_TRANSP
        MENUITEM "Font Size &++",       ID_FONTSIZE0
        MENUITEM "Font Size &--",       ID_FONTSIZE1
		MENUITEM "&Font...",            ID_FONT
		MENUITEM "&About",		ID_ABOUT
	}
}
IDACCEL_MAIN ACCELERATORS
{
  "a", ID_SELALL,	ALT
  "c", ID_COPY, 	ALT
  "v", ID_PASTE,	ALT
  "e", ID_EDIT, 	ALT
  "o", ID_OPTIONS,	ALT
  "s", ID_SCRIPT, 	ALT
  "t", ID_TERM,		ALT
  "+", ID_FONTSIZE0,ALT
  "-", ID_FONTSIZE1,ALT
 }

IDD_CONNECT DIALOG 45, 30, 150, 100	// Connection Dialog
CAPTION "Connect Dialog"
{
    COMBOBOX IDPROTO, 60, 10, 70, 16, CBS_DROPDOWNLIST|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT    "Protocol:", 	0,  4, 12, 50, 12, SS_RIGHT, WS_EX_LEFT
    COMBOBOX IDPORT,  60, 30, 70, 16, CBS_DROPDOWN|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT    "Port:", 		0,  4, 32, 50, 12, SS_RIGHT, WS_EX_LEFT
    COMBOBOX IDHOST,  60, 50, 70, 16, CBS_DROPDOWN|CBS_HASSTRINGS|WS_TABSTOP
    LTEXT    "Host:", IDSTATIC,	4, 52, 50, 12, SS_RIGHT, WS_EX_LEFT
    DEFPUSHBUTTON "Connect", IDCONNECT, 80, 75, 50, 16, 0, WS_EX_LEFT
    PUSHBUTTON    "Cancel",  IDCANCEL,  20, 75, 50, 16, 0, WS_EX_LEFT
}

1 VERSIONINFO						// Version Information
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0
    FILEFLAGS       0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "FileDescription", "Tiny Terminal Emulator"
            VALUE "LegalCopyright", "©2018-2019 Yongchao Fan"
            VALUE "ProductName", "tinyTerm"
            VALUE "ProductVersion", "1.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04B0
    }
}
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST    "tiny.manifest"